@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&family=Poppins&display=swap');
@import "./components/style/common.css";

body {
  

  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
  
}
body ::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
